@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --bs-body-font-family: 'Ubuntu', sans-serif;
    --bs-body-font-size: 20px
}



.card-title{
    font-weight: 700;
    font-size: 22px;
}